table,
th,
td {
   border-collapse: collapse;
   border-bottom: 1px solid black;
}

table {
   margin-top: 20px;
   width: 100%;
}

th {
   padding: 10px 5px;
}

td {
   padding: 10px;
   text-align: center;
}

.select {
   display: flex;
   gap: 10px;
}

.male {
   background-color: rgb(74, 233, 74);
   padding: 10px 20px;
   border-radius: 10px;
}

.female {
   background-color: pink;
   padding: 10px 20px;
   border-radius: 10px;
}

.update {
   width: 30px;
   height: 30px;
   cursor: pointer;
   border: 1px solid blue;
   border-radius: 5px;
}

.update > i {
   color: blue;
}

.update:hover {
   background-color: blue;
}

.update:hover > i {
   color: white;
   background-color: blue;
}

.delete {
   width: 30px;
   height: 30px;
   cursor: pointer;
   border: 1px solid red;
   border-radius: 5px;
}

.delete > i {
   font-size: 20px;
   color: red;
}

.delete:hover {
   background-color: red;
}

.delete:hover > i {
   color: white;
}
